<footer id="site-footer" role="contentinfo">
  <div class="row inner-row">
    <nav id="site-elsewhere-nav" role="navigation">
      <h2 class="hd-suptitle">Let's connect</h2>
      <ul class="connect-menu">
        <li class="feed"><a href="/rss.xml" title="Subscribe to our RSS feed"><span>RSS feed</span></a></li>
        <li class="twitter"><a href="https://twitter.com/yoinio" title="Follow us on Twitter"><span>Twitter</span></a></li>
        <li class="github"><a href="https://github.com/yoin" title="Follow us on GitHub"><span>GitHub</span></a></li>
      </ul>
    </nav>
    <p class="credits">&copy; yoin.io • {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
