<section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-30" data-background="assets/images/section-1.jpg">
  <div class="hs-caption container">
    <div class="caption-content">
      <div class="hs-title-size-4 font-alt m-b-30">
        we are yoin
      </div>
      <div class="hs-title-size-1 font-inc">
        Our dream of technological innovation, is our soul to research and develop wonderful </br>solutions and create life changing technological advances
      </div>
    </div>
  </div>
</section>
