<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <!-- PRELOADER -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- /PRELOADER -->

    <!-- NAVIGATION -->
    {% include nav.html %}
    <!-- /NAVIGATION -->

    <!-- WRAPPER -->
    <div class="wrapper">

        <!-- LAYOUT -->
        {{ content }}
        <!-- /LAYOUT -->

    </div>
    <!-- /WRAPPER -->

    <!-- FOOTER -->
    {% include footer.html %}
    <!-- /FOOTER -->

    <!-- Scroll-up -->
    <div class="scroll-up">
        <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- Javascript files -->
    {% include scripts.html %}


  </body>
</html>

